$clrRed: #fa5c65;
$clrRedHover: #ec5b63;
$clrDarkBlue: #263742;
$title: #314a5b;
$parag: #9aa0ab;

@mixin flexbox($alignItems) {
    display: flex;
    justify-content: space-between;
    align-items: $alignItems;
}

@mixin transition-and-hover-btn($color) {
    transition: .3s;
    &:hover {
        background: $color;
    }
}

@mixin span-dot($color) {
    color: $color;
    font-family: "Domine", serif;
}

@mixin span-subtitle($fsize) {
    display: block;
    font-size: $fsize;
    font-family: "Open Sans", sans-serif;  
}

.text-uppercase {
    text-transform: uppercase;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p, ul, form {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    color: $clrDarkBlue;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.header {
    height: 1056px;
    background: url("../img/header.png") no-repeat center top / cover;
    a {
        text-decoration: none;
    }
    .menu {
        @include flexbox(center);
        .logo {
            cursor: pointer;
            background: $clrRed;
            width: 140px;
            text-align: center;
            font-family: "Domine", serif;
            font-size: 20px;
            padding: 35px 15px 10px;
            border-radius: 0 0 10px 10px;
            @include transition-and-hover-btn($clrRedHover);
            a {
                color: #fff;
                span {
                    @include span-dot($clrDarkBlue);
                }
            }
        }
        .navigation {
            z-index: 10;
            .nav-btn {
                @include flexbox(center);
                flex-direction: column;
                position: absolute;
                left: -45px;
                top: 20px;
                width: 30px;
                height: 20px;
                cursor: pointer;
                span {
                    width: 25px;
                    height: 3px;
                    background: $clrRed;
                    margin: 0 auto;
                }
            }
            .nav-head {
                display: none;
                color: $clrDarkBlue;
                font-size: 20px;
                font-weight: 500;
                padding: 30px 0 0;
            }
            ul {
                @include flexbox(center);
                width: 450px;
                li {
                    list-style: none;
                    .link {
                        position: relative;
                        color: $clrDarkBlue;
                        font-size: 14px;
                        transition: .3s;
                        padding: 0 0 3px;
                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 2px;
                            transform: scaleX(0);
                            background: $clrRed;
                            transition: .3s;
                        }
                        &:hover:before {
                            transform: scaleX(1);
                        }
                    }
                    .fa-twitter, .fa-facebook-f {
                        color: $clrRed;
                        font-size: 16px;
                        width: 25px;
                        height: 25px;
                        padding: 3px;
                        border-radius: 50%;
                        transition: .3s;
                        &:hover {
                            background: $clrRed;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .text {
        margin-top: 300px;
        color: $title;
        .title {
            font-size: 48px;
            font-family: "Monserat", sans-serif;
            span {
                @include span-dot($clrRed);
            }
        }
        .subtitle {
            @include span-subtitle(20px);
            margin-top: 12px;
        }
    }
    
    &__btn {
        display: block;
        margin-top: 35px;
        font-family: "Open Sans", sans-serif;
        width: 170px;
        padding: 20px 0;
        background: $clrRed;
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        @include transition-and-hover-btn($clrRedHover);
    }
}

.parag {
    font-size: 15px;
    color: $parag;
    margin: 15px 0 25px;
}

.link-arrow {
    display: block;
    width: 75px;
    text-decoration: none;
    font-size: 14px;
    color: $clrRed;
    transition: .3s;
    font-weight: bold;
    &:hover {
        color: $clrRedHover;
        svg {
            margin: 0 0 0 10px;
        }
    }
    svg {
        margin: 0 0 0 7px;
        transition: .3s;
    }
}

.second-screen {
    .cards {
        margin: 80px 0 0;
        padding-bottom: 100px;
        @include flexbox(flex-start);
        .card {
            width: 280px;
            h2 {
                font-size: 26px;
                line-height: 25px;
                span {
                    @include span-dot($clrRed);
                }
            }
        }
    }
}

.third-screen {
    .portfolio {
        @include flexbox(center);
        padding-bottom: 100px;
        .laptop {
            background: url("../img/laptop.png") no-repeat -120px top;
            height: 300px;
            box-shadow: 5px -1px 11px -4px #d4d4d4 inset;
        }
        &__item {
            width: 45%;
            h2 {
                font-size: 40px;
                span {
                    @include span-dot($clrRed);
                }
            }
            .subtitle {
                display: block;
                font-weight: 500;
                margin-top: 5px;
            }
            .parag {
                margin-top: 25px;
            }
            .link-arrow {
                margin-top: 50px;
            }
        }
    }
}

.team {
    padding-bottom: 55px;
    .text {
        h2 {
            font-size: 32px;
            span {
                @include span-dot($clrRed);
            }
        }
        .parag {
            font-size: 16px;
            margin-top: 5px;
        }
    }
    .our-team {
        @include flexbox(center);
        margin-top: 40px;
        .person {
            @include flexbox(center);
            width: 285px;
            .first-photo {
                background: url("../img/Photo1.png") no-repeat center center;
            }
            .second-photo {
                background: url("../img/Photo2.png") no-repeat center center;
            } 
            .third-photo {
                background: url("../img/Photo3.png") no-repeat center center;
            } 
            .photo {
                width: 110px;
                height: 110px;
                border-radius: 50%;
                box-shadow: 0px 0px 15px 1px #dddddd inset;
            }
            .info {
                h2 {
                    font-size: 22px;
                }
                span {
                    display: block;
                    font-size: 14px;
                    color: $clrRed;
                    font-weight: 500;
                    margin: 4px 0 10px;
                }
                .parag {
                    font-size: 14px;
                    margin: 0;
                }
            }   
        }
    }
    .link-arrow {
        margin: 50px 0 0 calc(100% - 70px);
    }
}

footer {
    .content {
        position: relative;
        padding: 40px 0;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: #dbdbdb;
            height: 1px;
        }
        @include flexbox(center);
        .icons {
            @include flexbox(center);
            width: 115px;
            .link-icon {
                .fa-twitter, .fa-facebook-f, .fa-instagram, .fa-google-plus-g {
                    transition: .3s;
                }
                color: $parag;
                font-size: 18px;
            }
            .fa-twitter:hover {
                color: #1dcaff;
            }
            .fa-facebook-f:hover {
                color: #3b5998;
            }
            .fa-instagram:hover {
                color: #a51890;
            }
            .fa-google-plus-g:hover {
                color: $clrRedHover;
            }
        }
        span {
            display: block;
            font-size: 13px;
            color: $parag;
        }
    }
}











// Оптимизация--------------------------------------------------------------------------------------------------------------------------------

@media (max-width: 1024px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .header {
        height: 100vh;
        .text {
            margin-top: 300px;
            .title {
                font-size: 40px;
            }
            .subtitle {
                @include span-subtitle(18px);
                margin-top: 12px;
            }
        }
        
        &__btn {
            width: 150px;
            padding: 15px 0;
            font-size: 13px;
            margin-top: 25px;
            border-radius: 4px;
        }
    }

    .second-screen {
        .cards {
            margin: 0;
            padding: 60px 0 80px;
            .card {
                width: 240px;
                h2 {
                    font-size: 24px;
                }
                .parag {
                    font-size: 14px;
                }
            }
        }
    }

    .third-screen {
        .portfolio {
            .laptop {
                background: url("../img/laptop.png") no-repeat -195px center;
            }
        }
    }

    .team {
        .text {
            h2 {
                font-size: 24px;
            }
            .parag {
                font-size: 14px;
            }
        }
        .our-team {
            margin-top: 30px;
            .person {
                width: 250px;
                .first-photo {
                    background: url("../img/Photo1.png") no-repeat center center / contain;
                }
                .second-photo {
                    background: url("../img/Photo2.png") no-repeat center center / contain;
                } 
                .third-photo {
                    background: url("../img/Photo3.png") no-repeat center center / contain;
                }
                .photo {
                    width: 85px;
                    height: 85px;
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .header {
        background: url("../img/header.png") no-repeat center / cover;
       .menu {
           .navigation {
               ul {
                   width: 400px;
                   li {
                       .link {
                           font-size: 12px;
                       }
                       .fa-twitter, .fa-facebook-f {
                        color: $clrRed;
                        font-size: 14px;
                        width: 22px;
                        height: 22px;
                        padding: 3px;
                       }
                   }
               }
           }
       }
        
        .text {
            .title {
                font-size: 36px;
            }
            .subtitle {
                margin-top: 10px;
            }
        }
        
        &__btn {
            border-radius: 4px;
            width: 135px;
            padding: 15px 0;
            font-size: 12px;
        }
    }


    .link-arrow {
        font-size: 12px;
    }
    
    
    .second-screen {
        .cards {
            margin: 0;
            padding: 60px 0 80px;
            .card {
                width: 190px;
                h2 {
                    font-size: 24px;
                    line-height: 22px;
                }
                .parag {
                    font-size: 13px;
                }
            }
        }
    }

    .third-screen {
        .portfolio {
            padding-bottom: 80px;
            .laptop {
                background: url("../img/laptop.png") no-repeat -210px center;
                height: 340px;
            }
            &__item {
                h2 {
                    font-size: 36px;
                }
                .subtitle {
                    font-size: 14px;
                    margin-top: 5px;
                }
                .parag {
                    font-size: 14px;
                    margin-top: 20px;
                }
                .link-arrow {
                    margin-top: 35px;
                }
            }
        }
    }

    .team {
        .text {
            h2 {
                font-size: 24px;
            }
            .parag {
                font-size: 14px;
            }
        }
        .our-team {
            margin-top: 35px;
            // @include flexbox(flex-end);
            .person {
                width: 225px;
                .first-photo {
                    background: url("../img/Photo1.png") no-repeat center center / contain;
                }
                .second-photo {
                    background: url("../img/Photo2.png") no-repeat center center / contain;
                } 
                .third-photo {
                    background: url("../img/Photo3.png") no-repeat center center / contain;
                } 
                .photo {
                    width: 80px;
                    height: 80px;
                }
                .info {
                    h2 {
                        font-size: 18px;
                    }
                    span {
                        font-size: 12px;
                        margin: 4px 0 8px;
                    }
                    .parag {
                        font-size: 12px;
                        margin: 0;
                    }
                }   
            }
        }
        .link-arrow {
            margin: 35px 0 0 calc(100% - 70px);
        }
    }

    footer {
        .content {
            padding: 30px 0;
            .icons {
                width: 130px;
            }
        }
    }
}


@media (max-width: 730px) {
    .second-screen {
        .cards {
            padding-bottom: 50px;
        }
    }

    .third-screen {
        .portfolio {
            flex-direction: column;
            .laptop {
                background: url("../img/laptop.png") no-repeat center;
                box-shadow: none;
                height: 340px;
                width: 100%;
            }
            &__item {
                padding: 15px 0 0;
                width: 100%;
                h2 {
                    font-size: 36px;
                }
                .subtitle {
                    font-size: 14px;
                    margin-top: 5px;
                }
                .parag {
                    font-size: 14px;
                    margin-top: 20px;
                }
                .link-arrow {
                    margin-top: 35px;
                }
            }
        }
    }

    .team {
        .our-team {
            flex-wrap: wrap;
            align-items: flex-start;
            .person {
                width: 270px;
                padding: 15px 0;
                justify-content: flex-start;
                .photo {
                    width: 100px;
                    height: 100px;
                }
                .info {
                    margin-left: 35px;
                }   
            }
        }
    }
}




@media (max-width: 640px) {

    .menu-active {
        right: 0;
        // transform: translateX(0);
        box-shadow: 5px 0px 15px 5px rgb(122, 122, 122);
    }

    .header {
        .menu {
            .navigation {
                .nav-head {
                    display: block;
                }
                position: fixed;
                // transform: translateX(180px);
                right: -180px;
                top: 0;
                width: 180px;
                height: 100vh;
                background: #fff;
                text-align: center;
                ul {
                    padding: 30px 0 0;
                    width: inherit;
                    flex-direction: column;
                    li {
                        margin: 15px 0;
                    }
                }
            }
        }
    }
}